* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  }
menu, footer,.main, header {
  background-color: lightgoldenrodyellow;
  padding: 5px 10rem;
}
menu {
  display: flex;
  justify-content: space-between;
    }

.menu {
  display: flex;
  justify-content: space-between;
}

.menu li {
  padding-right: 10px;
}

header {
  padding: 5px 10rem;
}
.news-on-img {
  background-image: url(./assets/img/heading_news.jpg);
  width: 10rem;
  height: 5rem;
}

.btn {
 background-color: #222;
 color: #fff;
 padding: 0.5rem 0.4rem;
 border-radius: 0.5rem;
 cursor: pointer;
}
