* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
menu, footer, main, header {
  background-color: lightgoldenrodyellow;
}
menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  }

.menu {
  display: flex;
  justify-content: space-between;
}

.menu li {
  padding-right: 10px;
}

.btn {
 background-color: #222;
 color: #fff;
 padding: 0.5rem 0.4rem;
 border-radius: 0.5rem;
 cursor: pointer;
}