* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  }
menu, footer,.main, header,h1 {
  background-color: lightgoldenrodyellow;
  padding: 5px 10rem;
}
menu {
  display: flex;
  justify-content: space-between;
    }

.menu {
  display: flex;
  justify-content: space-between;
}

.menu li {
  padding-right: 50px;
  }

header {
 display: flex;
}
.news-on-img {
  background-image: url(./assets/img/heading_news.jpg);
  width: 24rem;
  height: 25rem;
  margin-right: 1.5rem;
  color: #fff;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.section__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.short__news {
padding-top: 4.5rem;
}

.main {
  display: grid;
  grid-template-columns: 28% 28% 28%;
}

.btn {
 background-color: #222;
 color: #fff;
 padding: 0.5rem 0.4rem;
 border-radius: 0.5rem;
 cursor: pointer;
 margin-left: 10rem;
}

.short_info, .contact  {
  display: flex;
  padding: 2rem 0;
}

.contact h6 {
  width: 4rem;
}

.footer__news {
  display: flex;
  grid-template-columns: 20% 40% 40%;
}
